#menu1 {
  padding:  0;
}

#menu1 .app-menu-hor {
  padding: 1.85714286em 0;
}

#menu1 .logo {
  max-height: 85px;
}

.imagebg a.dropdown-item {
  color: #252525;
}

.imagebg h1 {
  font-weight: 600;
}

[data-overlay="3"]:before {
  opacity: 0.35;
}

.feature {
  min-height: 275px;
}

.accordion__title {
  font-size: 22px;
}

#cookie-bar {
  background: #EEE !important;
}

#cookie-bar p {
  font-size: 11px;
    background: #EEE;
    color: #333;
    border: 0px solid #FFF;
}

.btn--primary, .btn--primary:visited {
  background: #E85931 !important;
  border-color: #E85931 !important;
  color: #FFF;
}

.btn--primary {
  background: #E85931 !important;
}

.process-2:before {
  background: #E85931  !important;
}

.process__item:after {
  border: 2px solid #E85931;
}

.left-nav a {
  margin-left: 24px;
}

.bg--dark {
  background: #EEE;
}

.bg--dark:not(.nav-bar):not(.bar) h1, .bg--dark:not(.nav-bar):not(.bar) h2, .bg--dark:not(.nav-bar):not(.bar) h3, .bg--dark:not(.nav-bar):not(.bar) h4, .bg--dark:not(.nav-bar):not(.bar) h5, .bg--dark:not(.nav-bar):not(.bar) h6, .bg--dark:not(.nav-bar):not(.bar) i, .bg--dark:not(.nav-bar):not(.bar) span:not(.btn__text), .bg--dark:not(.nav-bar):not(.bar) p {
  color: #333;
}

.lead-custom {
  color: #E85931;
}

.bg--dark:not(.nav-bar):not(.bar) a:not(.btn) {
  color: #333;
}

h1, .h1 {
  color: #E85931;
}

.bg--dark:not(.nav-bar):not(.bar) h2, .bg--dark:not(.nav-bar) {
  color: #E85931;
}

.process-2:before {
  background: #E85931;
}

.garanties .feature {
  background: #FFF !important;
  min-height: auto;
  font-size: 16px;
}

.garanties .row {
  margin-bottom: 32px;
}

.garanties h5 {
  color: #999 !important;
}

.garanties .feature.feature--featured:after {
  background: #999;
}

.suscribe h3 {
  color: #E85931;
}

.suscribe .row {
  margin-bottom: 32px;
}

@media (max-width: 992px) {
  .text-xs-center {
    text-align: center !important;
  }
}

@media (max-width: 767px) {
  .switchable .row > div[class*='col-']:last-child:not(:only-child) {
    margin-top: 0;
  }
} 


.menu-horizontal > li > a, .menu-horizontal > li > span, .menu-horizontal > li > .modal-instance > .modal-trigger {
  opacity: 1 !important;
}

.menu-horizontal > li > a:hover, .menu-horizontal > li > span:hover, .menu-horizontal > li > .modal-instance > .modal-trigger:hover {
  opacity: 0.7 !important;
}

h5, .h5 {
  font-weight: 400;
}

.fb_dialog_content iframe {
  min-height: auto;
}

.mobile h2 {
  color: #E85931;
  margin-bottom: 2em;
  font-size: 1.7em;
}

.mobile .lead {
  margin-bottom: 2.5em;
  font-size: 1.2em;
}

section.mobile {
  height: 100vh;
  padding-top: 0;
  padding-bottom: 0;
}

@media (max-width: 767px){
  footer div.col-xs-6:nth-child(even) {
      padding-left: 15px;
      margin-top: 50px;
  }
  }